body {
  --rojo: red; /*OJO -> Asi se crean variables en CSS puro*/
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#layout {
  display: flex; /*con esto el tamaño del div layout se adapta al contenidod e la caja */
  /*flex-direction: unset;*/
  /*flex-wrap: wrap;*/ /*Hace que el layout arrope todo su contenido (evita que se slagan los elementos del div layout en este caso), si pasa el tamaño los pasa a el row de abajo*/
  flex-flow: row wrap; /*Une la dirección y el wrap en una sola linea, equivale a escribir flex-direction y flex-wrap*/

  /*ESTA ES LA QUE USAMOS PARA ALINEAR HORIZONTALMENTE*/
  justify-content: space-around;

  border: 3px solid black;
  padding: 5px;
}

.caja {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  margin: 10px;
  background: gray;
}

.red {
  background: var(--rojo);
}

.green {
  background: green;
}
.blue {
  background: blue;
}
.orange {
  background: orange;
}
