body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#layout {
  display: flex; /*con esto el tamaño del div layout se adapta al contenidod e la caja */
  /*flex-direction: unset;*/
  /*flex-wrap: wrap;*/ /*Hace que el layout arrope todo su contenido (evita que se slagan los elementos del div layout en este caso), si pasa el tamaño los pasa a el row de abajo*/
  flex-flow: row wrap; /*Une la dirección y el wrap en una sola linea, equivale a escribir flex-direction y flex-wrap*/

  border: 3px solid black;
  padding: 5px;
}

.caja {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  margin: 10px;
  background: gray;
}

/*Propiedad Order, no se aplica en este caso al layout, sino a los elementos que están dentro del layout, ejemplo aqui abajo*/

.red {
  background: red;
  order: 3;
}
.green {
  background: green;
  order: 4;
}
.blue {
  /*order: -1;*/ /*Lo coloca de primero si no le pongo order a los otros elementos, podria colocar otro en -2 y dejar este en -1, el de -2 se colocará primero*/
  order: 2;
  background: blue;
}
.orange {
  order: 1;
  background: orange;
}
