* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#boton {
  display: block;
  padding: 20px;
  background-color: green;
  color: white;
  width: 150px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid rgb(0, 20, 0);
  /* transition: all 150ms; Apica la transición a todos los elementos */
  /* transition: border 150ms; Apica la transición solo al border */
  transition: border-radius 150ms, background 5s, border 300ms;
}

#boton:hover {
  border-radius: 10px;
  background: orangered;
  border: 3px solid red;
}

#caja {
  margin-top: 25px;
  width: 250px;
  height: 250px;
  background: lightseagreen;
  color: white;
  border: 5px solid black;
  font-size: 20px;
  text-align: center;
  line-height: 230px;
  animation-name: desplazamiento;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; /* Misma velocidad */
}

/* Esta es una forma, 
@keyframes desplazamiento {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 1200px;
  }
} */

@keyframes desplazamiento {
  0% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
  50% {
    margin-left: 1200px;
    transform: rotate(360deg);
    border-radius: 50%;
  }
  75% {
    background-color: red;
  }
  77% {
    border: 10px dashed blue;
  }
  100% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
}
