@font-face {
  font-family: MonserratFuenteCustom;
  src: url(fonts/Montserrat-Regular.ttf);
}

h1 {
  font-family: "Mansalva", cursive;
  font-style: italic;
  text-transform: uppercase;
  font-size: 45px;

  /* COLORES */

  /* Colores del sistema*/
  color: MediumSeaGreen;
  /* Colores hexadecimales*/
  color: #352d2d;
  /* Colores RGB*/
  color: rgb(125, 255, 139);
  /* Colores RGBA*/
  color: rgba(125, 255, 139, 0.5);
}

h3 {
  font-family: MonserratFuenteCustom, "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: olive;
}

p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}
